<launch>
  <rosparam command="load" file="$(find jackal_3d_mapping)/config/octomap_to_gridmap_demo.yaml" />
  <arg name="filter" default="false"/>
  <!-- Load the octomap -->
  <node pkg="octomap_server" type="octomap_server_static" name="octomap_server" args="$(find jackal_3d_mapping)/map/saved_map_3.bt" output="screen"/>

  <!-- Launch the octomap conversion node -->
  <node pkg="grid_map_demos" type="octomap_to_gridmap_demo" name="octomap_to_gridmap_demo" output="screen" />


 
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen" />

  <node pkg="jackal_3d_mapping" type="opencv_stair_classifier" name="opencv_stair_classifier" output="screen"/>

</launch>