<launch>
  <rosparam command="load" file="$(find jackal_3d_mapping)/config/octomap_to_gridmap_demo.yaml" />
  <arg name="filter" default="false"/>
  <!-- Load the octomap -->
  <node pkg="octomap_server" type="octomap_server_static" name="octomap_server" args="$(find jackal_3d_mapping)/map/saved_map_3.bt" output="screen"/>

  <!-- Launch the octomap conversion node -->
  <node pkg="grid_map_demos" type="octomap_to_gridmap_demo" name="octomap_to_gridmap_demo" output="screen" />

  
  <!-- Launch RViz with the demo configuration -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_3d_mapping)/rviz/filters_demo.rviz" /> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_3d_mapping)/rviz/octomap_to_gridmap_demo.rviz" />

 <!-- <group  unless="$(arg filter)"> 
  <node pkg="grid_map_demos" type="filters_demo" name="grid_map_filter_demo" output="screen">
  	<param name="input_topic" value="/octomap_to_gridmap_demo/grid_map" />
  	<param name="output_topic" value="filtered_map" />
    <rosparam command="load" file="$(find jackal_3d_mapping)/config/filters_demo_filter_chain.yaml" />
   </node>
   </group> -->

   <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen" />

</launch>