
<launch>
	<node pkg="octomap_server" type="octomap_color_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="map" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="-1.0" />
		
		<param name="height_map" type="bool" value="false"/>
		<param name="colored_map" type="bool" value="true"/>
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/points" />
		<!--<remap from="cloud_in" to="/zed_node/point_cloud/cloud_registered" />-->


	
	</node>
</launch>
