<!-- Generates a traversibility map and an occupancy map based on an OctoMap -->
<launch>

  <param name="use_sim_time"  value="false" />


  <!-- load the parameter file -->
  <rosparam command="load" file="$(find jackal_3d_mapping)/config/traversibility_filter_params.yaml" />


  <!-- Load the octomap from a .bt file -->
  <node pkg="octomap_server" type="octomap_server_static" name="octomap_server" args="$(find jackal_3d_mapping)/map/stairs_small_slope_4cm.bt" output="screen" />

  <!-- Convert the octomap to a grid map -->
  <node pkg="grid_map_demos" type="octomap_to_gridmap_demo" name="octomap_to_gridmap_demo" output="screen" />


  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_3d_mapping)/rviz/filters_demo.rviz" />
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_3d_mapping)/rviz/octomap_to_gridmap_demo.rviz" /> -->

  <!-- Start the filters_demo node which is used to generate the traversibility map -->
  <node pkg="grid_map_demos" type="filters_demo" name="grid_map_filter_demo" output="screen">
    <param name="input_topic" value="/octomap_to_gridmap_demo/grid_map" />
    <param name="output_topic" value="filtered_map" />

    <!-- Load configuration of the filter chain -->
    <rosparam command="load" file="$(find jackal_3d_mapping)/config/traversibility_filter_chain.yaml" />
  </node>

  <!-- Visualize grid map -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen" />

</launch>